* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  overflow: hidden;
}

button {
  padding: 14px 32px;
  border-radius: 30px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
